* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  --background: black;
  --country-visited: pink;
  --country-not-visited: hsl(0deg 0% 20%);

  background-color: var(--background);
}
