.map-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  height: calc(100% - 6em);
  max-width: calc(100% - 2em);
}

.map path {
  transition: fill 0.2s;
}

.map path[data-is-visited="true"] {
  fill: var(--color-foreground);
}

.map path[data-is-visited="false"] {
  fill: var(--color-disabled);
}
